{% extends 'base.html.twig' %}

{% block title %}Carpp Home{% endblock %}

{% block body %}
   <h1 class="home_title text-center">Meest recente vangsten</h1>
   <div class="grid-x align-center grid-padding-x grid-padding-y">
      <div class="cell small-12 medium-6 large-6">
         <div class="product-image-gallery">
            <img class="pdp-product-image" id="main-product-image" src="{{asset('fotos/' ~ vangstFotos[0].image)}}" alt={{ vangstFotos[0].soort() }}>
            <br>
            <ul class="menu product-thumbs align-center">
               <li> <a class="sim-thumb" data-image="{{asset('fotos/' ~ vangstFotos[0].image)}}"><img src="{{asset('fotos/' ~ vangstFotos[0].image)}}" alt={{ vangstFotos[0].soort() }}></a></li>
               <li> <a class="sim-thumb" data-image="{{asset('fotos/' ~ vangstFotos[1].image)}}"><img src="{{asset('fotos/' ~ vangstFotos[1].image)}}" alt={{ vangstFotos[1].soort() }}></a></li>
               <li> <a class="sim-thumb" data-image="{{asset('fotos/' ~ vangstFotos[2].image)}}"><img src="{{asset('fotos/' ~ vangstFotos[2].image)}}" alt={{ vangstFotos[2].soort() }}></a></li>
            </ul>
         </div>
      </div>
      <div class="cell small-12 medium-6 large-6">
         <div class="product-image-gallery">
            <h2 class="text-center">Record: {{ recordFish[0].gewicht }} pond</h2>
            <img class="pdp-product-image" id="main-product-image" src="{{asset('fotos/' ~ recordFish[0].image)}}" alt={{ recordFish[0].soort() }}>
         </div>
      </div>
      <div class="cell small-12 medium-12 large-12">
         {% if is_granted('ROLE_USER') %}
            <section class="product-feature-section">
               <div class="product-feature-section-outer">
                  <h2 class="text-center">Data</h2>

                  <div class="product-feature-section-inner">
                     <div class="product-feature-section-feature top-left">
                        <i class="fa fa-fish-fins" aria-hidden="true"></i>
                        <div>
                           <p class="feature-title">Totaal aantal vissen</p>
                           <p class="feature-desc">{{ vangstFotos|length }}</p>
                        </div>
                     </div>

                     <div class="product-feature-section-feature top-right">
                        <i class="fa fa-water" aria-hidden="true"></i>
                        <div>
                           <p class="feature-title">Totaal aantal wateren</p>
                           <p class="feature-desc">{{ totaalWateren|length }}</p>
                        </div>
                     </div>

                     <div class="product-feature-section-feature bottom-left">
                        <i class="fa fa-trophy" aria-hidden="true" style="color: yellow"></i>
                        <div>
                           <p class="feature-title">Record vis</p>
                           <p class="feature-desc">{{ recordFish[0].gewicht }} pond</p>
                        </div>
                     </div>

                     <div class="product-feature-section-feature bottom-right">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div>
                           <p class="feature-title">Kleinste vis</p>
                           <p class="feature-desc">{{ smallestFish[0].gewicht}} pond</p>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <section class="product-feature-section">
               <div class="product-feature-section-outer">
                  <div class="product-feature-section-inner">
                     <div class="product-feature-section-feature top-left">
                        <i class="fa fa-fish" aria-hidden="true"></i>
                        <div>
                           <p class="feature-title">Water met meeste vangsten</p>
                           <p class="feature-desc">nttv</p>
                        </div>
                     </div>

                     <div class="product-feature-section-feature top-right">
                        <i class="fa fa-weight-scale" aria-hidden="true"></i>
                        <div>
                           <p class="feature-title">Gemiddelde gewicht</p>
                           <p class="feature-desc">
                              {% set avarageWeight = 0 %}
                              {% for vangst in vangstFotos %}
                                 {% set avarageWeight = avarageWeight + vangst.gewicht %}
                              {% endfor %}
                              {{  avarageWeight / vangstFotos|length }} pond
                           </p>
                        </div>
                     </div>

                     <div class="product-feature-section-feature bottom-left">
                        <i class="fa fa-coffee" aria-hidden="true"></i>
                        <div>
                           <p class="feature-title">Spiegelkarpers</p>
                           <p class="feature-desc">nttv</p>
                        </div>
                     </div>

                     <div class="product-feature-section-feature bottom-right">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div>
                           <p class="feature-title">Schubkarpers</p>
                           <p class="feature-desc">nttv</p>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
        {% endif %}
      </div>
   </div>

{% endblock %}
