{% extends 'base.html.twig' %}

{% block title %}Carpp Visser{% endblock %}

{% block body %}
    <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell">
            <a class="button float-left mainGreenBackground " href="{{ path('app_visser') }}">Terug</a>
            <a class="button float-right mainGreenBackground " href="{{ path('app_visser_aanpassen',{id: visser.id}) }}">Pas aan</a>
        </div>
    </div>
    <div class="row expanded collapse">
        <div class="column">
            <div class="large-article-header" style="background-image: url('{{ asset('build/images/statestieken_image.jpg')}}')">
                <div class="large-article-header-content">
                    <div class="center-container">
                        <div class="article-title">
                            <h1>Statestieken van {{ visser.name }}</h1>
                        </div>
                        <div class="article-details">
                            <div class="article-comments">
                                <h2 ><i class="fa fa-fish fa-3x" aria-hidden="true"></i> {{ visser.vangsten|length }}</h2>
                                <p class="favorite-water">Favoriet water: {{ visser.favoriteWater }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-x grid-padding-y align-center">
        <h2 class="vangsten-titel-individual">Vangsten</h2>
    </div>
    <div class="fullscreen-image-slider">
        <div class="orbit" role="region" aria-label="FullScreen Pictures" data-orbit>
            <ul class="orbit-container">
                <button class="orbit-previous">
                    <span class="show-for-sr">Previous Slide</span>
                    <span class="nav fa fa-chevron-left fa-3x"></span>
                </button>
                <button class="orbit-next">
                    <span class="show-for-sr">Next Slide</span>
                    <span class="nav fa fa-chevron-right fa-3x"></span>
                </button>
                {% for vangst in visser.vangsten %}
                    <li class="is-active orbit-slide">
                        <img src="{{asset('fotos/' ~ vangst.image)}}" alt={{ visser.name }}>
                        <div class="orbit-caption">
                            <p>{{ vangst.gewicht}} pond</p>
                            <p>{{ vangst.water }}</p>
                            <p>{{ vangst.datum|format_date }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <section class="grid-x grid-padding-y align-center">
        <div class="cell text-center">
            <h3 class="graph_title">Soorten vangsten</h3>
        </div>
        <div class="cell small-12 medium-6">
            {{ render_chart(soortenChart) }}
        </div>
        <div class="cell text-center">
            <h3 class="graph_title">Gewichten</h3>
        </div>
        <div class="cell small-12 medium-6">
            {{ render_chart( gewichtenChart) }}
        </div>
    </section>

{% endblock %}
