<nav class="grid-x grid-padding-y grid-padding-x align-middle navigation-background">
    <div class="cell shrink">
        <a href="{{ path('app_home') }}"><img class="website-logo-navigation" src="{{ asset('build/images/CArPP_logo.png') }}" alt="logo cArPP website"/></a>
    </div>
    <div class="cell auto">
        <ul class="menu align-right">
            <li><a class="mainGreenColor" href="{{ path('app_wateren') }}">Wateren</a></li>
            <li><a class="mainGreenColor" href="#">Karpers</a></li>
            <li><a class="mainGreenColor" href="{{ path('app_vangsten') }}">Vangsten</a></li>
        </ul>
    </div>
    {% if not is_granted('ROLE_USER') %}
        <div class="cell shrink align-right">
            <a href="{{ path('app_login') }}" class="button mainGreenBackground">Login</a>
        </div>
    {%  endif %}
    {% if is_granted('ROLE_USER') %}
        <div class="cell shrink align-right">
            <a href="{{ path('app_logout') }}" class="button warning">Logout</a>
        </div>
    {%  endif %}
</nav>