{% extends 'base.html.twig' %}

{% block title %}Hello VangstenController!{% endblock %}

{% block body %}
{% for message in app.flashes('vangst_message') %}
    <div data-closable class="callout alert-callout-subtle success">
        <strong>Klasse!</strong> {{ message }}
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">⊗</span>
        </button>
    </div>
{% endfor %}
    {% for message in app.flashes('delete_message') %}
        <div data-closable class="callout alert-callout-subtle warning">
            <strong>Gelukt!</strong> {{ message }}
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">⊗</span>
            </button>
        </div>
    {% endfor %}
<div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell">
        <a class="button float-right mainGreenBackground " href="{{ path('app_vangst_toevoegen') }}"><i class="fa-solid fa-plus"></i> Vangst</a>
        <a class="button float-left mainGreenBackground " href="#">Filter</a>
    </div>
</div>
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y align-center">
            {% for vangst in vangsten %}
                <div class="cell small-10 medium-6 large-4">
                    <div class="responsive-blog-post">
                        <div class="individual-post">
                            <div class="grid-x">
                                <div class="cell auto">
                                    <h4 class="float-left">{{ vangst.water }}</h4>
                                    <a class="float-right" href="{{ path('app_vangst_delete',{id: vangst.id}) }}" onclick="return confirm('Wil je deze vangst verwijderen?')"><i class="fa-regular fa-trash-can delete-button"></i></a>
                                </div>
                            </div>
                            <p class="date">{{ vangst.datum|date('d-m-Y') }} - {{vangst.tijd|format_time() }} </p>
                            <img src="{{asset('fotos/' ~ vangst.image)}}" alt={{ vangst.soort() }}>
                            <h5>{{ vangst.gewicht }} pond</h5>
                            <div class="grid-y grid-margin-x">
                                <div class="cell margin-bottom-1">
                                    <a class="button expanded mainGreenBackground" href="{{ path('app_vangst_single',{id: vangst.id }) }}">Meer info</a>
                                </div>
                                <div class="cell">
                                    <a class="button expanded mainOrangeBackground" href="{{ path('app_vangst_aanpassen',{id: vangst.id }) }}">Bewerk</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
